@import url('https://fonts.googleapis.com/css?family=Concert+One|Patrick+Hand');
html {
  width: 200px;
  min-height: 300px;
}
h1 {
  font-family: 'Concert One', sans-serif;
}
p {
  font-family: 'Patrick Hand', sans-serif;
}
#thing {
  width: 100%;
  height: auto;
}
input {
	box-shadow: none;
}
