body{
  background-color: black;
}
.main-container{
  text-align: center;
  color: aliceblue;
}

.img-cntr{
  margin: auto;
}
.img-left{
  float: left;
  width: 320px;
  height: auto;
  margin-left: 15%;
}

.img-right{
  float: right;
  position: relative;
  vertical-align: top;
  width: 320px;
  height: auto;
  margin-right: 15%;
}
